*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: "outfit";
}
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    color: white;
    z-index: 1000;
    animation: fadeOut 1s ease-in-out forwards; /* Tambahkan animasi */
    animation-delay: 2s;
    text-shadow: 0px 0px 10px rgb(2, 162, 255);
}
#loading_screen span{
    text-shadow: 0px 0px 10px rgb(43, 166, 237);
    color: #02a2ff;
}
span{
    text-shadow: 0px 0px 4px rgb(53, 135, 216);
    color: #02a2ff;
}
.layouts {
    max-width: 476px;
    margin: 0 auto;
    height: 100vh;
    border: 1px solid black;
    position: relative;
}
.navbar {
    background-color: black;
    padding: 16px;
    text-align: center;
    font-family: "outfit";
}
.navbar h3 {
    font-weight: 900;
    color: white;
    font-size: 1.7rem;
}

.buttombar {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 100%;
}
.buttombar ul {
    display: flex;
    width: 100%;
    list-style: none;
    padding: 8px;
}
.buttombar ul li{
    flex: 1;
    text-align: center;
}
.buttombar ul li a{
    color: white;
    text-decoration:none ;
    font-size: x-large;
    display: block;
}

.buttombar ul li a:hover {
    transition: all .3s ease-in-out;
    scale: 110%;
}
.items{
    display: flex;
    flex-wrap: wrap;
    height: calc(75vh - 100px);
    padding: 36px ;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.item{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
    background-color: #000;
    width: 43%;
    height: 43%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
.item:hover{
    background-color: #000;
}
.item h3{
    color: #fff;
    height: 15%;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.item-submit,
.item-submit2 {
    background-color: #02a2ff;
    padding: 4px 8px;
    width: 80%;
    height: 50%;
    color: #fff;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 5%;
    border-color: #fff;
    /* box-shadow: 0px 0px 4px 1px #ffffff; */
    text-shadow: 1px 1px 1px #fff;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .item-submit:hover {
    animation: zoom 0.3s ease-in-out forwards; /* Tambahkan animasi */
  }

footer{
    position: absolute;
    width: 100%;
    height: calc(40vh - 100px);;
}
.footer{
    height: 80%;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
    bottom: 0;
}
footer p{
    color: #fff;
    font-size: 0.65rem;
}


@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {

      display: none;
    }
  }

@keyframes zoom {
    0% {
        height: 50%;
    }
    100%{
        height: 80%;
        width: 100%;
        border-radius: 5px;
        border-color: transparent;
    }
}